.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
img {
  position: absolute;
  height: auto;
  width: -webkit-fill-available;
  src: url(https://www.uber-assets.com/image/upload/f_auto,q_auto:eco,c_fill,g_center,w_1662,h_900/v1613521435/assets/bc/0529b6-c37a-416b-9907-2cb44c4c2888/original/Earner_Home_bg_desktop2x.png);
}

.landing {
  margin: 5%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
